<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consent</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<iframe id="consent_frame" src="/workflow_create_human_source" style="position:absolute;border:none;" height="100%"
  width="100%">

</iframe>
</body>
</html>