{% extends "sitebase.jinja2" %}
{% set page_title = "Create Non-human Source" %}
{% set show_breadcrumbs = True %}
{% block head %}
    <script>
        $(document).ready(function(){
            preventImplicitSubmission("new_source_form");
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" name="new_source_form" action="/accounts/{{account_id}}/create_nonhuman_source/">
            <div class="form-group">
                <label for="source_name" name="source_name_label">Environment name (e.g., microwave):</label>
                <input id="source_name" name="source_name" class="form-control" type="text"/>
                <input id="source_type" name="source_type" type="hidden" value="environmental" />
                <br />
                <label for="source_description" name="source_description_label">Environment description (optional):</label>
                <input id="source_description" name="source_description" class="form-control" type="text"/>
             </div>
            <input type="submit" class="btn btn-primary" value="Create Source"/>
        </form>
    </div>
{% endblock %}