<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Microsetta Error Page</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/minimal_interface.css" />
</head>
<body>
    <a href="https://microsetta.ucsd.edu" title="microsetta.ucsd.edu">
        <img src="/static/img/logo-co.png" class="resize"/>
        <br />
        <br />
        Return to microsetta.ucsd.edu
    </a>
    <br />
    <br />

    <div class="content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
          </ol>
        </nav>
        <div>
            <a href="{{authrocket_url}}/logout?redirect_uri={{endpoint}}/logout">Log Out</a>
        </div>
        <div class="container">
            <p>
                An error seemed to have occurred (see below). It is most likely our fault.
                We are actively modifying our infrastructure to support COVID-19 research,
                and we’re still in the process of handling the different type of scenarios
                that can happen on a website. We apologize for any inconvenience.
            </p>
            <p>
                If you have any concerns, please email us at <a href="{{ mailto_url }}">microsetta@ucsd.edu</a>
                and please note the error below.
            </p>
            <strong>Error:</strong>
            <br/>
            <pre>{{ error_msg }}</pre>
        </div>
    </div>
    <div>
        <br />
        <p>
            Questions?  Check our <a href="/view_faq">FAQ</a>!
        </p>
        <p>
            We are in the process of revising the site and
            apologize for any inconvenience.
            Please contact
            <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>
            for help.
        </p>
    </div>
</body>
</html>
