{% extends "sitebase.jinja2" %}
{% set page_title = "Error Page" %}
{% set show_breadcrumbs = True %}
{% set show_logout = True %}
{% block head %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
<p>
    An error seemed to have occurred (see below). It is most likely our fault.
    We are actively modifying our infrastructure to support COVID-19 research,
    and we’re still in the process of handling the different type of scenarios
    that can happen on a website. We apologize for any inconvenience.
</p>
<p>
    If you have any concerns, please email us at <a href="{{ mailto_url }}">microsetta@ucsd.edu</a>
    and please note the error below.
</p>
<strong>Error:</strong>
<br/>
<pre>{{ error_msg }}</pre>
{% endblock %}
