<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Microsetta Error Page</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />

    <style type="text/css">
        a {
            color: #006A96;
        }
        img.resize {
          max-width:75%;
          max-height:75%;
        }
    </style>
</head>
<body>
    <a href="http://microsetta.ucsd.edu" title="microsetta.ucsd.edu">
        <img src="/static/img/logo-co.png" class="resize">
        <br />
        <br />
        Return to microsetta.ucsd.edu
    </a>
    <br />
    <br />

    <div class="content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
          </ol>
        </nav>
        <div class="container">
            Oops, an error occurred!  We are very sorry for the inconvenience.
            <p>
                Please take a moment to click <a href="{{ mailto_url }}">here</a> to email this error to the developers so we can get it fixed!
            </p>
        </div>
    </div>

    <div>
        <br />
        <p>
            We are in the process of revising the site and
            apologize for any inconvenience.
            Please contact
            <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>
            for help.
        </p>
    </div>
</body>
</html>