{% extends "sitebase.jinja2" %}
{% set page_title = "Frequently Asked Questions" %}
{% set show_breadcrumbs = False %}
{% set disable_faq = True %}
{% set show_logout = False %}
{% block head %}
    <script src="/static/vendor/js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    /* Toggle between adding and removing the "active" class,
              to highlight the button that controls the panel */
                    this.classList.toggle("active");

                    /* Show/closes  the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        });
    </script>
{% endblock %}
{% block content %}
<h2>FAQ</h2>
<div class="list-group">
    <p>
        Thank you in advance for your patience and support during this period. If you have any further inquiries after
        reviewing the questions below, please contact us at
        <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>.
        <br>
        <br>
        <b>Last Updated:</b> June 1th, 2020
    </p>
    <div id="what-is-tmi" class="faq" style="margin-top: 2%;">
        <button class="accordion">
            <p></p>
            <h5>What is The Microsetta Initiative?  Where is the American/British Gut Project</h5>
            <p></p>
        </button>
        <div class="accordion-panel" style="">
            <p></p>
            <p style="">
            The Microsetta Initiative (TMI) is an extension of the American Gut
            and British Gut Projects with the specific aims of being globally
            inclusive and accommodating a broader range of microbiome sample
            types.   The American Gut and British Gut Project both still
            operate through The Microsetta Initiative as regional projects,
            making TMI the central hub for providing kits to participants and
            hosting the participant website.
            </p>
            <hr>
        </div>
    </div>
    <div id="how-do-i-sign-up" class="faq" style="margin-top: 2%;">
        <button class="accordion">
            <p></p>
            <h5>How do I sign up using the new website?</h5>
            <p></p>
        </button>
        <div class="accordion-panel" style="">
            <p></p>
            <p style="">
                <b><u>For New Participants:</u></b>
                <br>
                <i>If you have an American Gut/Microsetta kit, live in the U.S., and have not registered the kit yet:</i>
                <br>
                <a href="https://microsetta-api.ucsd.edu/signup?redirect_uri=https://microsetta-rest.ucsd.edu/authrocket_callback"
                   target="_blank">
                    Sign Up
                </a> to create a login using your email and a password of your choice.
                <br>
                <img src="/static/img/signup_example.png" class="resize75"/>
                <br>
                After, you will be prompted to click on the “Create New Account” button to fill out your personal
                information and kit ID.  Please use the kit ID provided on your registration card found in your kit.
                <br>
                <img src="/static/img/create_account_example.png" class="resize75"/>
                <br>
                <b><u>For existing participants:</b></u>
                <br>
                <i>If you previously had a participant account through the American/British Gut (microbio.me):</i>
                <br>
                <a href="https://microsetta-api.ucsd.edu/signup?redirect_uri=https://microsetta-rest.ucsd.edu/authrocket_callback"
                   target="_blank">
                    Sign Up
                </a> to create a login using the email address you previously used when registering with either project.
                In order to proceed, you will need to re-confirm your email address.
                <br>
                <br>
                If your existing account associated with your email address had a single human source, you will be able
                to log in and proceed in the process. If your existing account has multiple human sources (e.g.,
                multiple family members), you will be presented with a page indicating that we do not yet support this
                account type.
                <br>
                <br>
                We are working hard to migrate all American and British Gut kits to be compatible with the recent
                infrastructure changes necessary for our COVID-19 response.  We apologize for this temporary
                inconvenience.
                <br>
                <br>
                <i>If you have a British Gut kit and have not registered the kit yet:</i>
                <br>
                <a href="https://microsetta-api.ucsd.edu/signup?redirect_uri=https://microsetta-rest.ucsd.edu/authrocket_callback"
                   target="_blank">
                    Sign Up
                </a> to create a login using your email and a password of your choice.
                <br>
                <br>
                Unfortunately, at this time, our website does not support non-U.S. addresses.  We apologize for the
                inconvenience and request that you check back at a later time.
                <br>
                <br>
            </p>
            <hr>
        </div>
    </div>
    <div id="where-are-my-results" class="faq" style="margin-top: 2%;">
        <button class="accordion">
            <p></p>
            <h5>Where are my sample results?</h5>
            <p></p>
        </button>
        <div class="accordion-panel" style="">
            <p></p>
            <p style="">
                <u>If you have previously received results from American Gut/British Gut:</u>
                <br>
                We will work on making your results accessible through our participant website once we have migrated all
                American/British Gut accounts to be compatible with the new database.
                <br>
                <br>
                If there is an urgent need for your results, please email
                <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>,
                providing your kit ID or barcode number.
                <br>
                <br>
                <u>If you have not yet received results from American/British Gut:</u>
                <br>
                It typically takes 2-3 months from the time we receive a sample
                for results to be produced. However, we are adapting our
                infrastructure right now to better support COVID-19 research,
                so the timings may change. Please contact <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>,
                providing your kit ID and/or barcode number so we may assist
                you further.
            </p>
            <hr>
        </div>
    </div>
    <div id="can-i-send-my-sample-back" class="faq" style="margin-top: 2%;">
        <button class="accordion">
            <p></p>
            <h5>Can I send my sample back?</h5>
            <p></p>
        </button>
        <div class="accordion-panel" style="">
            <p></p>
            <p style="">If you are able to login and assign your sample(s), then yes. If your account is not presently
                migrated, then please wait to send samples in. The sample assignment process is essential in order for
                us to verify we have ethical consent to handle the sample.
                <br>
                <br>
                If you have already taken a sample, please send it back as soon as possible, ideally within 48 hours,
                using the materials provided in the kit. Our American and British Gut laboratories are still operating
                and can store it to preserve your sample quality.
            </p>
            <hr>
        </div>
    </div>
    <div id="did-my-sample-make-it-back" class="faq" style="margin-top: 2%;">
        <button class="accordion">
            <p></p>
            <h5>
                Did my sample make it back to your lab? (ex. I had sent it back mid-April, but I have received no
                information about it)
            </h5>
            <p></p>
        </button>
        <div class="accordion-panel" style="">
            <p></p>
            <p style="">
                In response to COVID-19, USPS deliveries have been reduced to our laboratory that runs from
                UC San Diego. We are working closely with UC San Diego Shipping and Logistics to ensure samples are
                delivered with minimal delay. All British Gut samples will be held at their site until they have
                resumed normal operations, and they are able to bulk ship samples back to us. Due to these delays,
                there may also be a longer waiting period for notifications regarding when your sample has been
                received by our lab.  Any samples we receive are placed in temperature-controlled freezers to ensure
                sample quality is maintained.
                <br>
                <br>
                If your sample has been sent via FedEx (new Microsetta kits), transit times from impacted areas might be
                increased, but sample quality won’t be affected.
            </p>
            <p></p>
            <hr>
        </div>
    </div>


    <div id="libr-and-cts-projects" class="faq" style="margin-top: 2%;">
        <button class="accordion">
            <p></p>
            <h5>
                For LIBR (Laureate Institute) or CTS (California Teachers Study) participants
            </h5>
            <p></p>
        </button>
        <div class="accordion-panel" style="">
            <p></p>
            <p style="">
                <u>Questions on the Online Process/Participant Website</u>
                <br>
                <b>Where is the kit ID? Or, I get a message that my kit ID is invalid or already in use when trying to register.</b>
                <br>
                The kit ID is located on the kit registration card, found in the slot for Step 2 in your kit (please see the image below):
                <br>
                <img src="/static/img/old_registration_password.jpg" class="resize"/>
                <br>
                <i>IMPORTANT:</i> If your registration card contains a "Password", as displayed in the image above, please the associated password. This is for our old website that is no longer online.
                <br>
                <br>
                If you are unable to locate your kit ID or your registration
                card, please email <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a> and provide one of the
                barcode numbers found on your collection materials, such as the
                number found on the sticky label on the silver specimen bag
                (the barcode number would start with leading zeros)
                <br>
                <br>
                <b>What should I use for my password?</b>
                <br>
                The password is your choice, but must be at least 8 characters
                long. Some kits may have a password printed on the registration
                card, please <b>do not</b> use that as your password as it’s for a
                deprecated website that is no longer online.
                <br>
                <br>
                <b>I’m having trouble logging in my sample information/assigning my sample.</b>
                <br>
                <ol>
                    <li>Log into <a href="https://microsetta.ucsd.edu">https://microsetta.ucsd.edu</a></li>
                    <li>Click on your account. This will say your email address, i.e. ("_____’s account")
                        <u>Note:</u> this will say "Create New Account" if a
                        consent form has not been completed. If a consent is
                        needed, you will be directed to the consent page,
                        followed by the questionnaires.
                        </li>
                    <li>Once you have completed Step 2, click on your name in the source list (example below).</li>
                    <br>
                    <img src="/static/img/choose_source_example.png" class="resize75"/>
                    <br>
                    <li>Next, you will need to add in your kit ID (“To add your
                    samples, please enter a kit ID here:”).  The kit ID can be
                    found on the registration card inside your kit.  If you have 
                    done this already, skip to step 6. Please select the barcodes that you would like to 
                    associate to your source.</li>
                    <li>The barcodes selected will show up under
                    the sample listing (see below image).  To update your
                    collection date and the sample type, click on the barcode
                    number (colored as blue text).</li>
                    <br>
                    <img src="/static/img/choose_sample_example.png" class="resize75"/>
                </ol>
                <br>
                <u>Questions on Sample Collection</u>
                <br>
                <b>I did not get enough blood on the swabs.  What can I do?</b>
                <br>
                <i>If at least one swab was saturated with blood:</i> Proceed with sending your sample back to us; we will still be able to utilize it for analysis.
                <br>
                <i>If neither swab was saturated with blood and your lancet is used:</i> Contact us at <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>, stating that you need a new lancet and provide your mailing address.
                <br>
                <br>
                <b>How do I use the two tubes provided in the kit? Which is my saliva swab?</b>
                <br>
                Each tube provided in your kit is meant to be used for taking either a fecal and saliva sample (i.e. one sample type per tube).  For the fecal sample, you will take the swabs, collect a sample, and place the swabs in the tube.  For the saliva sample, you will spit inside the tube.  Check the instruction brochure for detailed steps.
                <br>
                <br>
                <b>Why is there an extra set of swabs?</b>
                <br>
                Please only use one set of swabs to take your fecal sample.  The additional set was a packaging error and does not need to be used.
                <br>
                <br>
                <b>How do I take 2mL of saliva?</b>
                <br>
                As the tubes do not currently have a mark for 2mL, please estimate this by filling up the tube about less than halfway with your saliva.
                <br>
                <br>
                <b>I took a different sample type than what was requested.</b>
                <br>
                If only one of your samples was the incorrect sample type,
                please proceed with sending them back.  While we may not
                process your sample immediately, there will be follow-ups as
                part of the project, so we will collect additional samples at a
                later point in time.
                <br>
                <br>
                <b>Where is the FedEx shipping label for pickup?</b>
                <br>
                <i>For CTS participants:</i> If your Microsetta kit <b>DID NOT</b> contain a shipping label, please
                visit this website and provide the requested information to
                schedule your kit pick-up: <a href="https://microsetta.ucsd.edu/pickup">https://microsetta.ucsd.edu/pickup</a>.
                FedEx will handle providing the proper labels when picking up
                your kit.
                <br>
                If your Microsetta kit <b>DID</b> contain a shipping label, please
                schedule a FedEx pickup by calling 1-800-463-3339, or drop off
                your box with a FedEx center.
                <br>
                <br>
                <i>For LIBR participants:</i> The shipping label should be pre-affixed
                to the box.  Please schedule a FedEx pickup by calling
                1-800-463-3339, or drop off your box with a FedEx center.
            </p>
            <p></p>
            <hr>
        </div>
    </div>

</div>
{% endblock %}
