<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Microsetta Account</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/minimal_interface.css" />
</head>
<body>
    <a href="https://microsetta.ucsd.edu" title="microsetta.ucsd.edu">
        <img src="/static/img/logo-co.png" class="resize"/>
        <br />
        <br />
        Return to microsetta.ucsd.edu
    </a>
    <br />
    <br />

    <div class="content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
        </nav>

        {% if user %}
        <a href="{{authrocket_url}}/logout?redirect_uri={{endpoint}}/logout">Log Out</a>
        <div class="container">
            {% if email_verified %}
            <div class="list-group">
                {% if acct_id %}
                    {% if has_multiple_hs_sources %}
                        It appears that this account has more than one human participant associated with it.
                        Unfortunately, we are not yet able to display multiple participants.
                        We are actively modifying our infrastructure to support COVID-19 research,
                        and we’re still in the process of handling the different type of scenarios
                        that can happen on the website. We apologize for the inconvenience.
                    {% else %}
                        <a href="/workflow" class="list-group-item list-group-item-action">{{user}}'s account</a>
                    {% endif %}
                {% else %}
                <a href="/workflow" class="list-group-item list-group-item-action">
                    Create New Account...
                </a>
                {% endif %}
            </div>
            {% else %}
            <p>
                It appears that your email has not yet been verified.
                Please check your email account (and spam folder) for a verification email
                from "The Microsetta Initiative" and follow its instructions.
                This email will come from our authentication service AuthRocket,
                and use the email address "noreply@loginrocket.com".
            </p>
            <p>
                If you cannot locate the original verification email, have it resent by
                clicking <a href = "{{ authrocket_url }}/profile">here</a> to view your AuthRocket profile and then
                clicking the "resend verification email" link.
            </p>
            <p>
                <button class = "btn btn-primary" onclick="window.location.replace('{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback');">
                    Refresh
                </button>
            </p>
            {% endif %}
        </div>
        {% else %}
        You are not logged in <br/>
        <a href="{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback">Log In</a> or
        <a href="{{authrocket_url}}/signup?redirect_uri={{endpoint}}/authrocket_callback">Sign Up</a>
        {% endif %}
    </div>
    <div>
        <br />
        <p>
            We are in the process of revising the site and
            apologize for any inconvenience.
            Please contact
            <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>
            for help.
        </p>
    </div>
</body>
</html>
