{% extends "sitebase.jinja2" %}
{% set page_title = "Home" %}
{% set show_breadcrumbs = True %}
{% set show_logout = False %}
{% set is_home = True %}
{% block head %}
{% endblock %}

{% block content %}
{% if user %}
    <div>
        <a href="{{authrocket_url}}/logout?redirect_uri={{endpoint}}/logout">Log Out</a>
    </div>
    {% if email_verified %}
    <div class="list-group">
            {% if accounts|length > 0 %}
                {% for account in accounts %}
                    <a href="/accounts/{{ account.account_id }}" class="list-group-item list-group-item-action">{{ account.email }}'s account</a>
                {% endfor %}  <!-- end of for account in accounts -->
            {% else %}
                <a href="/create_account" class="list-group-item list-group-item-action">
            Click here to create a new account...
        </a>
        {% endif %}
    </div>
    {% else %}
    <p>
        It appears that your email has not yet been verified.
        Please check your email account (and spam folder) for a verification email
        from "The Microsetta Initiative" and follow its instructions.
        This email will come from our authentication service AuthRocket,
        and use the email address "noreply@loginrocket.com".
    </p>
    <p>
        If you cannot locate the original verification email, have it resent by
        clicking <a href = "{{ authrocket_url }}/profile">here</a> to view your AuthRocket profile and then
        clicking the "resend verification email" link.
    </p>
    <p>
        <button class = "btn btn-primary" onclick="window.location.replace('{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback');">
            Refresh
        </button>
    </p>
    {% endif %}
{% else %}
    You are not logged in. Please click to either: <br/>
    <a href="{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback">Log In</a> or
    <a href="/signup_intermediate">Sign Up</a>
{% endif %}
{% endblock %}
