<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Microsetta Test Client - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <br />
    <div class="content">
        {% if user %}
        Welcome Home {{user}}
        <br/>
        <a href="https://direct-juice-b878.e2.loginrocket.com/logout?redirect_uri=http://localhost:8082/logout">Log Out</a>

        {% if show_wizard %}
        <div class="alert alert-primary" role="alert">
          Need help getting started?  <a href="/workflow" class="alert-link">Click here to set up your account</a>
        </div>
        {% endif %}
        <div class="container">
            Account:
            <div class="list-group">
                {% if acct_id %}
                <a href="/accounts/{{acct_id}}" class="list-group-item list-group-item-action">Account ID: {{acct_id}}</a>
                {% else %}
                <a href="/workflow" class="list-group-item list-group-item-action">
                    Create New Account...
                </a>
                {% endif %}
            </div>
        </div>

        {% else %}
        You are not logged in <br/>
        <a href="https://direct-juice-b878.e2.loginrocket.com/login?redirect_uri=http://localhost:8082/authrocket_callback">Log In</a>
        <a href="https://direct-juice-b878.e2.loginrocket.com/signup?redirect_uri=http://localhost:8082/authrocket_callback">Sign Up</a>
        {% endif %}
    </div>
</body>
</html>