<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Kit Samples to Participant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
    <form method="post" action="/workflow_claim_kit_samples">
        <div class="form-group">
            <label for="kit_name" name="kit_name_label">Kit Name/Nombre de Kit</label>
            <input id="kit_name" name="kit_name" class="form-control" type="text" value="fa_lrfiq" />
        </div>
        <input type="submit" class="btn btn-primary"/>
    </form>
</body>
</html>