<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microsetta Kit Claim</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/minimal_interface.css" />
    <script src="/static/vendor/js/jquery-3.4.1.min.js"></script>
    <script src="/static/vendor/js/jquery.validate.min.js"></script>
    <script src="/static/kit_check.js"></script> 
    <script>
        // Wait for the DOM to be ready
        $(document).ready(verify_kit_claim('kit_claim_form', null));
    </script>
</head>
<body>
    <a href="https://microsetta.ucsd.edu" title="microsetta.ucsd.edu">
        <img src="/static/img/logo-co.png" class="resize"/>
        <br />
        <br />
        Return to microsetta.ucsd.edu
    </a>
    <br />
    <br />

    <div class="content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
          </ol>
        </nav>
        <div class="container">
            <form method="post" name="kit_claim_form" action="/workflow_claim_kit_samples">
                <div class="form-group">
                    <label for="kit_name" name="kit_name_label">Please enter your kit ID/Por favor, introduzca su ID del kit:

</label>
                    <input id="kit_name" name="kit_name" class="form-control" type="text"/>
                 </div>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>

    <div>
        <br />
        <p>
            Questions?  Check our <a href="/view_faq">FAQ</a>!
        </p>
        <p>
            We are in the process of revising the site and
            apologize for any inconvenience.
            Please contact
            <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>
            for help.
        </p>
    </div>
</body>
</html>
