{% extends "sitebase.jinja2" %}
{% set page_title = "Sign up help" %}
{% set show_breadcrumbs = True %}
{% set show_logout = False %}
{% block content %}
<h2>Sign up help and more information</h2>
<div class="list-group">
    <p>This page contains more information about the sign up process.</p>
    <p>When you are ready to proceed, please click: <a href="{{authrocket_url}}/signup?redirect_uri={{endpoint}}/authrocket_callback">Sign Up</a>. 
</div>
<h2>Email verification</h2>
<div class="list-group">
    <p>In order to create a login, you will need to enter a valid email address and a password of your choice. After entering this information, you will be sent a verification email so the system to ensure the email was recorded correctly. It should only take a few minutes for a verification email to arrive. If it doesn't show up, please check spam or junk mail. If a verification email is not there, please email us at <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a> and we will resolve the issue.<p>
</div>
<h2>Registration card</h2>
<div class="list-group">
    Participant kits contain a registration card that looks like the following. You do not need this card to create a login, however you will need this card afterward in order to create your account.
    <img src="/static/img/old_registration_no_password.jpg" class="resize"/>
    If your registration card contains a "Password:" field as shown in the following image, please disregard it.
    <img src="/static/img/old_registration_password.jpg" class="resize"/>
</div>
{% endblock %}
