<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Microsetta {{page_title}}</title>

    <link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/minimal_interface.css" />
    <style>
        {% if admin_mode %}
        body {
            padding-top: 50px;
            margin: 2%;
        }
        {% endif %}
    </style>

    <!-- jquery must be enabled before bootstrap for collapsible functionality -->
    <script src="/static/vendor/js/jquery-3.4.1.min.js"></script>
    <script src="/static/vendor/js/jquery.validate.min.js"></script>
    <script src="/static/vendor/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="/static/input_util.js"></script>

    {%block head%}
    {%endblock%}
</head>
<body>
    {% if admin_mode %}
    <nav class="navbar fixed-top navbar-light bg-warning">
      Administrator Toolbar
      <a class="btn btn-outline-success" href="/admin/system_message">System Panel</a>
      <form class="form-inline" action="/admin/account_search" method="get">
        <input id="email_query" name="email_query" class="form-control mr-sm-2" type="search" placeholder="User Email" aria-label="Search"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Account</button>
      </form>
    </nav>
    {% endif %}
    {% if not admin_mode %}
    <a href="https://microsetta.ucsd.edu" title="microsetta.ucsd.edu">
        <img src="/static/img/logo-co.png" class="resize"/>
        <br />
        <br />
        Return to microsetta.ucsd.edu
    </a>
    <br />
    <br />
    {% endif %}

    {% if system_msg_text %}
    <div id="system_message" class="alert alert-{{system_msg_style|e}}" role="alert">
      {{system_msg_text}}
    </div>
    {% endif %}

    <div class="content">

    {% if show_breadcrumbs %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% if is_home %}
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            {% else %}
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            {% endif %}
            {%block breadcrumb%}
            {%endblock%}
          </ol>
        </nav>
    {% endif %}

        <!-- Vue Form Generator references a container named "app" -->
        <div class="container" id="app">
        {% if show_logout %}
            <div>
                <a href="{{authrocket_url}}/logout?redirect_uri={{endpoint}}/logout">Log Out</a>
            </div>
        {% endif %}
{%block content%}
{%endblock%}
        </div>
    </div>
{%block footer%}
{%endblock%}
    {% if not admin_mode %}
    <div>
        <br />
        <hr>
        {% if not disable_faq %}
        <p>
            Questions?  Check our <a href="/view_faq" target="_blank">FAQ</a>!
        </p>
        {% endif %}
        <p>
            We are in the process of revising the site and
            apologize for any inconvenience.
            Please contact
            <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>
            for help.
        </p>
    </div>
    {% endif %}
</body>
</html>
