<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Microsetta</title>
{%block head%}
{%endblock%}

    <link rel="stylesheet" href="/static/css/minimal_interface.css" />
</head>
<body>
    <a href="http://microsetta.ucsd.edu" title="microsetta.ucsd.edu">
        <img src="/static/img/logo-co.png" class="resize">
        <br />
        <br />
        Return to microsetta.ucsd.edu
    </a>
    <br />
    <br />

    <div class="content">
{%block content%}
{%endblock%}
    </div>
{%block footer%}
{%endblock%}
    <div>
        <br />
        <p>
            We are in the process of revising the site and
            apologize for any inconvenience.
            Please contact
            <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>
            for help.
        </p>
    </div>
</body>
</html>