<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Microsetta Account Samples</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/minimal_interface.css" />
</head>
<body>
    <a href="https://microsetta.ucsd.edu" title="microsetta.ucsd.edu">
        &nbsp;&nbsp;
        <img src="/static/img/logo-co.png" class="resize"/>
        <br />
        <br />
        Return to microsetta.ucsd.edu
    </a>
    <br />
    <br />

    <div class="content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
          </ol>
        </nav>
        <div class="container">
            Samples:
            <div class="list-group">
                {% for sample in samples %}
                <a href="/accounts/{{acct_id}}/sources/{{source_id}}/samples/{{sample.sample_id}}" class="list-group-item list-group-item-action {{loop.cycle('odd', 'even') }}">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      {{sample.sample_barcode |e}}
                    </div>
                    <div class="col-sm">
                      {{sample.sample_datetime |e}}
                    </div>
                    <div class="col-sm">
                      {{sample.sample_site |e}}
                    </div>
                  </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            Available Surveys:
            <div class="list-group">
                {% for survey in surveys %}
                <a class="list-group-item list-group-item-action {{loop.cycle('odd', 'even') }}">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      {{survey.survey_template_title |e}}
                    </div>
                    <div class="col-sm">
                        {% if survey.answered %}
                        <span class="fa fa-check"/>
                        {% else %}
                        <span class="fa fa-unchecked"/>
                        {% endif %}
                    </div>
                  </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <br />
        <p>
            We are in the process of revising the site and
            apologize for any inconvenience.
            Please contact
            <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>
            for help.
        </p>
    </div>
</body>
</html>
