{% extends "sitebase.jinja2" %}
{% set page_title = "Account Samples" %}
{% set show_breadcrumbs = True %}
{% set show_logout = True %}
{% block head %}
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <script src="/static/vendor/js/jquery.form-4.2.2/jquery.form.min.js"></script>
    <script>
        function make_kit_validation_setup_func(form_name, submitHandler) {
            // Initialize form validation
            let form_selector = "form[name='" + form_name + "']";
            return function() {
                let validateOptions = {
                    // Specify validation rules
                    rules: {
                        // The key name on the left side is the name attribute
                        // of an input field. Validation rules are defined
                        // on the right side
                        kit_name: {
                            required: true,
                            remote: {
                                url: "/check_kit_valid",
                            }
                        }
                    }
                };
                if (submitHandler !== null){
                    validateOptions["submitHandler"] = submitHandler;
                }
                $(form_selector).validate(validateOptions);
            };
        }

        let kitSubmitHandler = function(form, evt){
            let samples_selector = '#samples';
            let error_txt = "";
            let successful = false;
            $(form).ajaxSubmit({
                success: function (samples, textStatus, jqXHR) {
                    $(samples_selector).empty();
                    for (let i = 0; i < samples.length; i++) {
                        let bc = samples[i].sample_barcode;
                        let sample_id = samples[i].sample_id;
                        let item = $('<div class="container list-group-item">' +
                                     '<div class="row">' +
                                     '<div class="col-sm">' +
                                     '<label for="' + bc + '">' + bc + '</label>' +
                                     '</div>' +
                                     '<div class="col-sm">' +
                                     '<input type="checkbox" name="sample_id" id="' + bc + '" value="' + sample_id + '"/>' +
                                     '</div>' +
                                     '</div>');
                        $(samples_selector).append(item);
                    }
                    let div = $('#choose_sample_div');
                    div.collapse('show');
                    successful = true;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    error_txt = jqXHR.responseText;
                },
                complete: function (data, textStatus, outputObj) {
                    if (successful)
                        return;
                    if (error_txt === "")
                        error_txt = textStatus;
                    // Get customized error page that will show whatever error message we captured
                    // here in the front end
                    let queryParam = encodeURIComponent(error_txt);
                    window.location.replace("{{ endpoint }}/error?error_msg=" + queryParam);
                }
            });
        };

        function verifyDissociateSample(sampleId){
            let confirmMsg = "Do you really want to remove this sample from this source? " +
                "Doing so will remove any collection info saved for this sample and will " +
                "unlink it from all surveys.";
            return window.confirm(confirmMsg);
        }

        // Wait for the DOM to be ready
        $(document).ready(function(){
            let form_name = 'list_kit_form';
            preventImplicitSubmission(form_name);
            preclude_whitespace('#kit_name');

            let kit_validation_setup_func = make_kit_validation_setup_func(form_name, kitSubmitHandler);
            kit_validation_setup_func()
        });
    </script>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/accounts/{{account_id}}">Account</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{source_name}}</li>
{% endblock %}
{% block content %}
    {% if needs_assignment %}
    <div class="alert alert-warning" role="alert">
        It looks like some samples do not have collection information recorded.
    </div>
    {% endif %}
    {% if samples|length > 0 %}
    Samples (click on a barcode to provide collection information):
    <div class="list-group">
        <div class="row">
            <div class="col-sm">
                <i>Barcode</i>
            </div>
            <div class="col-sm">
                <i>Collection date</i>
            </div>
            {% if is_human %}
            <div class="col-sm">
                <i>Sample type</i>
            </div>
            <div class="col-sm">
                <i>Sample-specific survey</i>
            </div>
            {% endif %}
            <div class="col-sm"></div>
        </div>
        {% for sample in samples %}
        <div class="container list-group-item {{loop.cycle('odd', 'even') }}">
            <div class="row">
                <div class="col-sm">
                            <a class="btn btn-outline-info" href="/accounts/{{account_id}}/sources/{{source_id}}/samples/{{sample.sample_id}}">{{sample.sample_barcode |e}}</a>
                </div>
                <div class="col-sm">
                    {{sample.sample_datetime |e}}
                </div>
                {% if is_human %}
                <div class="col-sm">
                    {{sample.sample_site |e}}
                </div>
                <div class="col-sm">
                {% if sample.ffq %}
                    Food Frequency Questionnaire<span class="fa fa-check"/>
                {% else %}
                            <a class="btn btn-outline-primary" href="/accounts/{{account_id}}/sources/{{source_id}}/samples/{{sample.sample_id}}/survey_templates/{{vioscreen_id}}">Food Frequency Questionnaire</a><span class="fa fa-unchecked"/>
                {% endif %}  <!-- end of if sample.ffq -->
                </div>
                {% endif %}  <!-- end of if is_human -->
                <div class="col-sm">
                    <form name="remove_{{ sample.sample_id }}_form" method="post" action="/accounts/{{ account_id }}/sources/{{ source_id }}/samples/{{ sample.sample_id }}/remove" onsubmit="return verifyDissociateSample('{{sample.sample_id}}');"><button type="submit" class="btn btn-danger">Remove</button></form>
                </div>
            </div>
        </div>
        {% endfor %}  <!-- end of for sample in samples -->
    </div>
    {% endif %}
    {% if samples|length > 1 and is_human %}
        <br>
                    <u><i>Do I need to take more than one Food Frequency Questionnaire (FFQ)</i></u>?
                    If you are taking all of your samples at the same time, you will only need to complete one.
                    If you are collecting samples over time (e.g., once per week), then please consider taking an FFQ per
                    time point. The FFQs provide valuable dietary research data for the project, so researchers can better
                    understand the relationship between the food you eat and your microbes.
    {% endif %}  <!-- end of if samples|length > 1 and is_human -->
    {% if samples|length > 0 %}
    <hr style="border-top: dotted 1px"/>
    {% endif %}
    <form method="get" name="list_kit_form" action="/list_kit_samples">
        <div class="form-group">
            {% if claim_kit_name_hint is not none %}
            <label for="kit_name" name="kit_name_label">The kit ID used to create your account has unclaimed samples. To claim samples from this kit, please click "List samples". To claim samples from another kit ID, please enter it here and then click "List Samples":</label>
            <input id="kit_name" name="kit_name" class="form-control" type="text" value="{{ claim_kit_name_hint }}"/>
            {% else %}
            <label for="kit_name" name="kit_name_label">To add samples, please enter a kit ID here:</label>
            <input id="kit_name" name="kit_name" class="form-control" type="text"/>
            {% endif %}
         </div>
        <input type="submit" class="btn btn-primary" value="List Samples"/>
    </form>
    <p></p>
    <div class="panel-collapse collapse" id="choose_sample_div">
        <div class="card card-body">
            Select all samples that should be associated with this source
                    <form method="post" name="pick_samples_form" action="/accounts/{{account_id}}/sources/{{source_id}}/claim_samples">
                <div class="form-group">
                    <div id="samples" class="list-group">
                    </div>
                    <p></p>
                    <input type="submit" class="btn btn-primary" value="Claim Selected Samples"/>
                </div>
            </form>
        </div>
    </div>
    {% if surveys|length > 0 %}
    <hr style="border-top: dotted 1px"/>
    <p>Surveys taken:</p>
    <div class="list-group">
        {% for survey in surveys %}
        <a>
            <div class="container list-group-item {{loop.cycle('odd', 'even') }}">
              <div class="row">
                <div class="col-sm">
                  {{survey.survey_template_title |e}}
                </div>
                <div class="col-sm">
                    {% if survey.answered %}
                    <span class="fa fa-check"/>
                    {% else %}
                    <span class="fa fa-unchecked"/>
                    {% endif %}
                </div>
              </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
