{% extends "sitebase.jinja2" %}
{% set page_title = "Email Update" %}
{% set show_breadcrumbs = True %}
{% set show_logout = True %}
{% block head %}
    <script>
        function cancelEmailUpdate(){
            $('#do_update').val("No");
        }
    </script>
{% endblock %}
{% block content %}
    It appears that the email we have for your account is not the same as the email
    you logged in with.  Would you like us to update your email in our records?
    <br />
    <br />
    <form method="post" name="update_email_form" action="/accounts/{{ account_id }}/update_email">
        <input type="hidden" id="do_update" name = "do_update" value="Yes" />
        <button type="submit" class="btn btn-light" onclick="cancelEmailUpdate();">
            No, skip and continue
        </button>
        <button type = "submit" class="btn btn-primary">
            Yes, update and continue
        </button>
    </form>
{% endblock %}
