{% extends "sitebase.jinja2" %}
{% set page_title = "Account" %}
{% set show_breadcrumbs = True %}
{% block head %}
<!--    <meta charset="UTF-8">-->
<!--    <title>Microsetta Update Account Information</title>-->
<!--    <link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />-->
<!--    <link rel="stylesheet" href="/static/css/minimal_interface.css" />-->
    <script src="/static/vendor/js/jquery-3.4.1.min.js"></script>
    <script src="/static/vendor/js/jquery.validate.min.js"></script>
<!--    <link rel="stylesheet" href="/static/css/minimal_interface.css" />-->
    <script>
        // Wait for the DOM to be ready
        $(function() {
            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='acct_form']").validate({
                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    first_name: "required",
                    last_name: "required",
                    street: "required",
                    city: "required",
                    state: "required",
                    post_code: "required",
                    // Make sure the form is submitted to the destination defined
                    // in the "action" attribute of the form when valid
                    submitHandler: function (form) {
                        form.submit();
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/accounts/{{account.account_id}}">Account</a></li>
    <li class="breadcrumb-item active" aria-current="page">Account Information</li>
{% endblock %}
{% block content %}
        <div class="container">
          <div class="card">
            <h5 class="card-header">Account Information</h5>
            <div class="card-body">
                <form id="acct_form" name="acct_form" method="post">
                    <div class="form-group">
                        <label for="email" name="email_label">Email/Correo electrónico</label>
                        <input id="email" name="email" class="form-control" type="hidden" value="{{account.email |e}}"/>
                        <input id="view_email" name="view_email" class="form-control" type="email" value="{{account.email |e}}" disabled="disabled" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="first_name" name="first_name_label">First Name/Nombre</label>
                        <input id="first_name" name="first_name" class="form-control" value="{{account.first_name |e}}" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="last_name" name="last_name_label">Last Name/Nombre de Familia</label>
                        <input id="last_name" name="last_name" class="form-control" value="{{account.last_name |e}}" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="street" name="street_label" >Street Address/Dirección</label>
                        <input id="street" name="street" class="form-control" value="{{account.address.street |e}}" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="city" name="city_label">City/Ciudad</label>
                        <input id="city" name="city" class="form-control" value="{{account.address.city |e}}" type="text" />
                    </div>
                    <div class="form-group">
                        <p>
                        <strong>Note to non-US users:</strong> We are working on support for additional countries and
                        expect to have that available soon.
                        </p>
                        <label for="state" name="state_label">State/Estado</label>
                        <select id="state" name="state" class="form-control">
                            <option value="CA"{% if account.address.state == 'CA' %} selected {% endif %}>California</option>
                            <option value="AL"{% if account.address.state == 'AL' %} selected {% endif %}>Alabama</option>
                            <option value="AK"{% if account.address.state == 'AK' %} selected {% endif %}>Alaska</option>
                            <option value="AZ"{% if account.address.state == 'AZ' %} selected {% endif %}>Arizona</option>
                            <option value="AR"{% if account.address.state == 'AR' %} selected {% endif %}>Arkansas</option>
                            <option value="CO"{% if account.address.state == 'CO' %} selected {% endif %}>Colorado</option>
                            <option value="CT"{% if account.address.state == 'CT' %} selected {% endif %}>Connecticut</option>
                            <option value="DE"{% if account.address.state == 'DE' %} selected {% endif %}>Delaware</option>
                            <option value="DC"{% if account.address.state == 'DC' %} selected {% endif %}>District Of Columbia</option>
                            <option value="FL"{% if account.address.state == 'FL' %} selected {% endif %}>Florida</option>
                            <option value="GA"{% if account.address.state == 'GA' %} selected {% endif %}>Georgia</option>
                            <option value="HI"{% if account.address.state == 'HI' %} selected {% endif %}>Hawaii</option>
                            <option value="ID"{% if account.address.state == 'ID' %} selected {% endif %}>Idaho</option>
                            <option value="IL"{% if account.address.state == 'IL' %} selected {% endif %}>Illinois</option>
                            <option value="IN"{% if account.address.state == 'IN' %} selected {% endif %}>Indiana</option>
                            <option value="IA"{% if account.address.state == 'IA' %} selected {% endif %}>Iowa</option>
                            <option value="KS"{% if account.address.state == 'KS' %} selected {% endif %}>Kansas</option>
                            <option value="KY"{% if account.address.state == 'KY' %} selected {% endif %}>Kentucky</option>
                            <option value="LA"{% if account.address.state == 'LA' %} selected {% endif %}>Louisiana</option>
                            <option value="ME"{% if account.address.state == 'ME' %} selected {% endif %}>Maine</option>
                            <option value="MD"{% if account.address.state == 'MD' %} selected {% endif %}>Maryland</option>
                            <option value="MA"{% if account.address.state == 'MA' %} selected {% endif %}>Massachusetts</option>
                            <option value="MI"{% if account.address.state == 'MI' %} selected {% endif %}>Michigan</option>
                            <option value="MN"{% if account.address.state == 'MN' %} selected {% endif %}>Minnesota</option>
                            <option value="MS"{% if account.address.state == 'MS' %} selected {% endif %}>Mississippi</option>
                            <option value="MO"{% if account.address.state == 'MO' %} selected {% endif %}>Missouri</option>
                            <option value="MT"{% if account.address.state == 'MT' %} selected {% endif %}>Montana</option>
                            <option value="NE"{% if account.address.state == 'NE' %} selected {% endif %}>Nebraska</option>
                            <option value="NV"{% if account.address.state == 'NV' %} selected {% endif %}>Nevada</option>
                            <option value="NH"{% if account.address.state == 'NH' %} selected {% endif %}>New Hampshire</option>
                            <option value="NJ"{% if account.address.state == 'NJ' %} selected {% endif %}>New Jersey</option>
                            <option value="NM"{% if account.address.state == 'NM' %} selected {% endif %}>New Mexico</option>
                            <option value="NY"{% if account.address.state == 'NY' %} selected {% endif %}>New York</option>
                            <option value="NC"{% if account.address.state == 'NC' %} selected {% endif %}>North Carolina</option>
                            <option value="ND"{% if account.address.state == 'ND' %} selected {% endif %}>North Dakota</option>
                            <option value="OH"{% if account.address.state == 'OH' %} selected {% endif %}>Ohio</option>
                            <option value="OK"{% if account.address.state == 'OK' %} selected {% endif %}>Oklahoma</option>
                            <option value="OR"{% if account.address.state == 'OR' %} selected {% endif %}>Oregon</option>
                            <option value="PA"{% if account.address.state == 'PA' %} selected {% endif %}>Pennsylvania</option>
                            <option value="RI"{% if account.address.state == 'RI' %} selected {% endif %}>Rhode Island</option>
                            <option value="SC"{% if account.address.state == 'SC' %} selected {% endif %}>South Carolina</option>
                            <option value="SD"{% if account.address.state == 'SD' %} selected {% endif %}>South Dakota</option>
                            <option value="TN"{% if account.address.state == 'TN' %} selected {% endif %}>Tennessee</option>
                            <option value="TX"{% if account.address.state == 'TX' %} selected {% endif %}>Texas</option>
                            <option value="UT"{% if account.address.state == 'UT' %} selected {% endif %}>Utah</option>
                            <option value="VT"{% if account.address.state == 'VT' %} selected {% endif %}>Vermont</option>
                            <option value="VA"{% if account.address.state == 'VA' %} selected {% endif %}>Virginia</option>
                            <option value="WA"{% if account.address.state == 'WA' %} selected {% endif %}>Washington</option>
                            <option value="WV"{% if account.address.state == 'WV' %} selected {% endif %}>West Virginia</option>
                            <option value="WI"{% if account.address.state == 'WI' %} selected {% endif %}>Wisconsin</option>
                            <option value="WY"{% if account.address.state == 'WY' %} selected {% endif %}>Wyoming</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="post_code" name="post_code_label">Zip Code/Código Postal</label>
                        <input id="post_code" name="post_code" class="form-control" value="{{account.address.post_code |e}}" type="text" />
                    </div>
                    <input id="country_code" name="country_code" type="hidden" value="{{account.address.country_code |e}}"/>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
          </div>
        </div>
{% endblock %}
