<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol
        {
            margin:0;
            padding:0
        }
        table td,table th
        {
            padding:0
        }
        .c0
        {
            color:#000000;
            font-weight:400;
            text-decoration:none;
            vertical-align:baseline;
            font-size:12pt;
            font-family:"Arial";
            font-style:normal
        }
        .c1
        {
            background-color:#ffffff;
            padding-top:0pt;
            padding-bottom:0pt;
            line-height:1.15;
            orphans:2;
            widows:2;
            text-align:left
        }
        .c2
        {
            background-color:#ffffff;
            padding-top:0pt;
            padding-bottom:0pt;
            line-height:1.15;
            orphans:2;
            widows:2;
            text-align:left;
            height:11pt
        }
        .c3
        {
            color:#000000;
            font-weight:400;
            text-decoration:none;
            vertical-align:baseline;
            font-size:11pt;font-family:"Arial";font-style:normal
        }
        .c4
        {
            font-size:12pt
        }
        .c5
        {
            height:11pt
        }
        .c6
        {
            color:#000000;
            font-weight:700;
            text-decoration:none;
            vertical-align:baseline;
            font-family:"Arial";
            font-style:normal
        }
        .c7
        {
            font-weight:700
        }
        .c8
        {
            padding-top:0pt;
            padding-bottom:0pt;
            line-height:1.15;
            orphans:2;
            widows:2;
            text-align:left
        }
        .c9
        {
            background-color:#ffffff;
        }
        .c10
        {
            background-color:#ffffff;
            max-width:468pt;
            padding:5%
        }
        .c11
        {

        }
        .title
        {
            padding-top:0pt;
            color:#000000;
            font-size:26pt;
            padding-bottom:3pt;
            font-family:"Arial";
            line-height:1.15;
            page-break-after:avoid;
            orphans:2;
            widows:2;
            text-align:left
        }
        .subtitle
        {
            padding-top:0pt;
            color:#666666;
            font-size:15pt;
            padding-bottom:16pt;
            font-family:"Arial";
            line-height:1.15;
            page-break-after:avoid;
            orphans:2;
            widows:2;
            text-align:left
        }
        li
        {
            color:#000000;
            font-size:11pt;
            font-family:"Arial"
        }
        p
        {
            margin:0;
            color:#000000;
            font-size:11pt;
            font-family:"Arial"
        }
        h1
        {
            padding-top:20pt;
            color:#000000;
            font-size:20pt;
            padding-bottom:6pt;
            font-family:"Arial";
            line-height:1.15;
            page-break-after:avoid;
            orphans:2;
            widows:2;
            text-align:left
        }
        h2
        {
            padding-top:18pt;
            color:#000000;
            font-size:16pt;
            padding-bottom:6pt;
            font-family:"Arial";
            line-height:1.15;
            page-break-after:avoid;
            orphans:2;
            widows:2;
            text-align:left
        }
        h3
        {
            padding-top:16pt;
            color:#434343;
            font-size:14pt;
            padding-bottom:4pt;
            font-family:"Arial";
            line-height:1.15;
            page-break-after:avoid;
            orphans:2;
            widows:2;
            text-align:left
        }
        h4
        {
            padding-top:14pt;
            color:#666666;
            font-size:12pt;
            padding-bottom:4pt;
            font-family:"Arial";
            line-height:1.15;
            page-break-after:avoid;
            orphans:2;
            widows:2;
            text-align:left
        }
        h5
        {
            padding-top:12pt;
            color:#666666;
            font-size:11pt;
            padding-bottom:4pt;
            font-family:"Arial";
            line-height:1.15;
            page-break-after:avoid;
            orphans:2;
            widows:2;
            text-align:left
        }
        h6
        {
            padding-top:12pt;
            color:#666666;
            font-size:11pt;
            padding-bottom:4pt;
            font-family:"Arial";
            line-height:1.15;
            page-break-after:avoid;
            font-style:italic;
            orphans:2;
            widows:2;
            text-align:left
        }
    </style>
</head>
<body class="c10">

<p class="c1"><span class="c0">&nbsp;</span></p>
<p class="c8 c9">
    <span class="c0">{{ _('Thank you for your interest and participation in The Microsetta Initiative. We are sorry to see you go!') }}</span>
</p>
<p class="c1"><span class="c0">&nbsp;</span></p>
<p class="c8 c9">
    <span class="c0">{{ _("The kit(s) may still be en route, but you don't have to pause your journey just yet.  You can sign up right now to get started at ") }}<a href="{{join_url |e}}">{{ join_url | e }}</a> {{ _('using the following info:') }}</span>
</p>
<ul>
    <li>{{ _('Email:') }} <b>{{new_account_email |e}}</b></li>
    <li>{{ _('Activation Code:') }} <b>{{new_account_code |e}}</b></li>
</ul>

<p class="c1"><span class="c0">&nbsp;</span></p>
<p class="c8 c9">
    <span class="c0">{{ _("Not your first foray into the microbiome?  No problem, you don't need to sign up again, your kit(s) can be added to your existing account when the order arrives.") }}</span>
</p>
<p class="c1"><span class="c0">&nbsp;</span></p>
<p class="c1">
<span class="c0">{{ _("If you have any questions, please reply to us at ") }}<a href = "mailto: microsetta@ucsd.edu">microsetta@ucsd.edu</a>. {{ _("Thank you for supporting our project.") }}</span>
</p>
<p class="c1"><span class="c0">&nbsp;</span></p>
<p class="c1">
    <span class="c0">{{ _("Sincerely,") }}</span>
</p>
<p class="c1">
    <span class="c0">{{ _("The Microsetta Team") }}</span>
</p>
</body>
</html>
