<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>
<body>
<p>
Dear Daklapack,
</p>
<p>
Please put a hold on the fulfillment of Microsetta order {{ order_id }}.
</p>
<p>
{{ fulfillment_hold_msg }}
</p>
<p>
If you have questions or difficulties, please contact Edgar Diaz Pardo at ediazpardo@health.ucsd.edu .
</p>
<p>
Thank you,<br/>
The Microsetta Team
</p>
</body>
</html>