openapi-spec-validator < 0.2.10
connexion[swagger-ui] < 2.7.1
pyjwt[crypto]
pytest
pytest-cov
coveralls
pycountry
python-dateutil
celery[redis]
redis
requests
requests_oauthlib
flask-babel
html2text
https://github.com/qiita-spots/qiita_client/archive/refs/heads/master.zip
